html,
body {
  background-color: #b752529d;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
  
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

code {
  background: #e9f0e2;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  color: #ffffff;
}

.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  color:white;
  background-color: cornflowerblue;
  z-index: 1000;
}

.name{
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start; 
  color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  gap: 10px;
  color: rgba(255, 18, 81, 0);
  
}

.button{
  padding: 10px 20px;
  background-color: #e762ff;
  color:white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}
.button:hover {
  background-color: #005bb5;
}

.home-container{
  margin-bottom: 20px;
  padding-top: 50px;
  color: rgba(11, 3, 2, 0);
  display: flex;
  justify-content: center;
}

.circle-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0);
}

.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(23, 205, 78, 0);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cv-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}