html,
body {
  background-color: #b752529d;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

code {
  background: #e9f0e2;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  color:white;
  background-color: cornflowerblue;
  z-index: 1000;
}

.name{
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start;
}

.button-container {
  display: flex;
  gap: 10px;
  
}

.button{
  padding: 10px 20px;
  background-color: #e762ff;
  color:white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}
.button:hover {
  background-color: #005bb5;
}

.selfie-container{
  margin-bottom: 20px;
  padding-top: 50px;
}

{/*
.circle-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}
*/}